body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/*---------Header---------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}
.header,
.presentation,
.footer{
    background-color: #1F2937;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    /*Remove the line under our link*/
    text-decoration: none;
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding: 16px 0;
    font-weight: 700;
}
.links{
    display: flex;
    gap: 32px;
    font-size: 18px;
    padding: 16px 0;
}
/*---------Presentation---------*/
.presentation{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 128px 250px 128px 250px;
}
h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
#presentation-text{
    font-size: 18px;
    color: #E5E7EB;
}
#img-presentation{
    height: 300px;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    border-style: none;
    border-radius: 8px;
}
/*---------Information---------*/
.informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 250px 120px 250px;
    align-items: center;
}
h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 0;
    margin-bottom: 60px;
}
.infos{
    display: flex;
    gap: 64px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info p{
    width: 160px;
    color: #474747;
}
.info img{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border:  5px solid #3882F6;
}
/*---------Testimonial---------*/
.testimonial{
    background-color: #E5E7EB;
    padding: 200px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.texte,
.author{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}
.author{
    font-weight: 800;
    align-self: flex-end;
}
/*---------Call to action---------*/
.call-action{
    display: flex;
    justify-content: center;
    margin: 100px 250px;
}
.sign-up{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 32px 150px;
    border-radius: 8px;
}
.sign-up button{
    background-color: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    border-style: none;
    border-radius: 8px;
    border: 5px solid #F9FAF8;
}
h3{
    font-size: 36px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}
.sign-up p{
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
}
/*---------Footer---------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 250px;
    color: #F9FAF8;
}